.catalog-block {
  position: relative;
  padding: 35rem 0 34.7rem;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.4rem;
  }

  &__tags {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 92.918rem;
  }

  &__tag {
    background-color: $white60;
    border: 0.4rem solid $white;
    padding: 1.5rem 4.6rem 2.2rem;
    border-radius: 12rem;
    color: $orange;

    &:first-child {
      margin-left: 8.8rem;
      margin-right: 2.2rem;
      transform: rotateZ(-9deg);
    }

    &:nth-child(2) {
      display: flex;
      column-gap: 0.45rem;
      margin-right: 4.2rem;
      transform: rotateZ(6deg);
    }

    &:nth-child(3) {
      transform: rotateZ(7deg);
    }

    &:nth-child(4) {
      margin-right: 6.4rem;
      transform: rotateZ(3deg);
    }

    &:nth-child(5) {
      margin-right: 11.6rem;
      transform: rotateZ(8deg);
    }

    &:nth-child(6) {
      transform: rotateZ(-7deg);
    }
  }

  &__swiper {
    &.swiper {
      overflow: visible;
    }
  }

  &__slide {
    position: relative;
    width: 40.6rem;
    min-height: 50rem;
    padding-top: 33.4rem;
    z-index: 1;

    &-img {
      position: absolute;
      top: 0;
      right: 0;
      width: 37.2rem;
      height: 34.8rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-background {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 41.2rem;
      z-index: -1;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    &-descr {
      display: flex;
      justify-content: space-between;
      padding-left: 4.4rem;
      color: $orange;

      & > div {
        &:first-child {
          width: 19rem;
        }

        &:last-child {
          width: 15.6rem;
          line-height: 2.7rem;
        }
      }
    }

    &-title {
      margin-bottom: 1.2rem;
    }
  }

  @media (max-width: 48em) {
    padding: 33.2rem 0 45.2rem;

    &__top {
      flex-direction: column;
      row-gap: 5rem;
      margin-bottom: 5rem;
    }

    &__title {
      text-align: center;
    }

    &__tags {
      width: 100%;
    }

    &__tag {
      padding: 2.4rem 7.2rem 3.2rem;
      border-radius: 24rem;
      font-size: 4rem;

      &:first-child {
        order: 3;
        transform: rotateZ(-10deg);
        margin: 0 -1rem 0 0;
      }

      &:nth-child(2) {
        order: 5;
        transform: rotateZ(9deg);
        margin: 2rem 0 1rem 0;
      }

      &:nth-child(3) {
        order: 6;
        transform: rotateZ(11deg);
        margin: 0 16.8rem 0 15.8rem;
      }

      &:nth-child(4) {
        order: 1;
        transform: rotateZ(13deg);
        margin: 0 22rem 1rem 20.6rem;
      }

      &:nth-child(5) {
        order: 4;
        transform: rotateZ(-8deg);
        margin: 0 1rem 0 2rem;
      }

      &:last-child {
        order: 2;
        transform: rotateZ(4deg);
        margin: 0 0 3rem -1rem;
      }
    }

    &__swiper {
      margin-bottom: 6rem;

      &.swiper {
        margin-right: -3rem;
      }

      &-btn {
        &.swiper-button-prev,
        &.swiper-button-next {
          position: static;
        }
      }

      &-navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 2rem;
      }
    }

    &__slide {
      min-height: 67.8rem;
      padding-top: 45.2rem;

      &-background {
        width: 55.2rem;
        height: 56rem;
      }

      &-img {
        width: 50.6rem;
        height: 47.2rem;
        right: 3.4rem;
      }

      &-descr {
        padding-left: 6rem;
        justify-content: flex-start;
        column-gap: 4rem;

        & > div {
          &:first-child {
            width: 22rem;
          }

          &:last-child {
            width: 25.6rem;
            font-size: 3.2rem;
            line-height: 4rem;
          }
        }
      }

      &-title,
      &-weight {
        font-size: 5.6rem;
      }
    }
  }
}

.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 26.5rem;
  column-gap: 4.5rem;
}
.catalog-item {
  position: relative;
  background: rgba(209, 88, 52, 1);
  border: 2px solid #FFF;
  border-radius: 6rem;

  &_top {
    position: absolute;
    width: 35.4rem;
    height: 36rem;
    top: -17.5rem;
    left: 0;
    right: 0;
    margin: auto;

    &--back {
      position: absolute;
      width: 100%;
      height: 100%;

      svg {
        width: 100%;
        height: 100%;
      }
    }
    &--img {
      position: absolute;
      width: 23rem;
      height: 23.1rem;
      top: -6.1rem;
      right: 3.2rem;
      z-index: 1;

      img {
        object-fit: contain;
      }
    }
    &--like {
      position: absolute;
      bottom: 30.5rem;
      left: 4.5rem;
      cursor: pointer;

      svg {
        width: 2.4rem;
        height: 2.4rem;
      }
    }
    &--name {
      width: fit-content;
      position: absolute;
      bottom: 4rem;
      z-index: 1;
      color: rgb(209, 88, 52);
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      height: 8.8rem;
      display: flex;
      align-items: center;
    }
  }
  &_bottom {
    margin: 20rem 4rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--left {
      width: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      svg {
        width: 7.4rem;
        height: 7.4rem;
      }
    }
    &--price {
      display: flex;
    }

    &--info {
      width: 18.1rem;
      display: flex;
      flex-direction: column;
      gap: 3.7rem;

      .txt18 {
        line-height: 150%;
        font-weight: 600;
      }
      .txt16 {
        font-weight: 700;
        letter-spacing: 0.02em;
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }
}

@include small-tablet {
  .catalog-list {
    grid-template-columns: 1fr;
    row-gap: 26.5rem;
    column-gap: 0;
  }
  .catalog-item {
    border-radius: 12rem;
  
    &_top {
      width: 56.4rem;
      height: 57.4rem;
      top: -16.8rem;

      &--img {
        position: absolute;
        width: 30.2rem;
        height: 31.4rem;
        top: -3rem;
        right: 9.8rem;
      }
      &--like {
        bottom: auto;
        top: 5rem;
        left: 7rem;
  
        svg {
          width: 4.8rem;
          height: 4.8rem;
        }
      }
      &--name {
        bottom: 4rem;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        height: 13.8rem;
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 5.6rem;
        letter-spacing: 0.01em;
      }
    }
    &_bottom {
      margin: 44.8rem 6rem 6rem;
      align-items: initial;
  
      &--left {
        gap: 4rem;

        svg {
          width: 14.8rem;
          height: 14.8rem;
        }
      }
      &--price {
        display: flex;
        font-weight: 400;
        font-size: 6rem;

        span {
          font-weight: 600;
          font-size: 3.6rem;
          letter-spacing: 0.02em;
        }
      }
  
      &--info {
        width: 30.2rem;
        gap: 4rem;
  
        .txt18 {
          line-height: initial;
          font-weight: 600;
          font-size: 3.2rem;
          letter-spacing: 0.02em;
        }
        .txt16 {
          font-weight: 600;
          font-size: 3.2rem;
          letter-spacing: 0.02em;
        }
      }
    }
  }
}