body::before {
  content: '';
  position: fixed;
  z-index: 250;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.8s ease 0s;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  background: rgba(1, 32, 40, 0.4);
}
.popup-show body::before {
  opacity: 1;
}
.popup_show {
  z-index: 300;
  visibility: visible !important;
  overflow: auto;
  pointer-events: auto;
}
.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
}

// --------------------------------------------------------------------------

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 3.2rem;
  visibility: hidden;
  transition: visibility 0.8s ease 0s;

  ._loaded & {
    display: block;
  }

  // .popup__wrapper

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    min-height: 100%;
    width: 100%;
  }

  // .popup__content

  &__content {
    width: 100%;
    max-width: fit-content;
    border-radius: 4rem;
    visibility: hidden;
    transform: scale(0);
    transition: transform 0.3s ease 0s;
    position: relative;
    .lock & {
      visibility: visible;
    }
  }

  // .popup__body

  &__body {
    display: flex;
    background-color: $light-grew;
    border-radius: 6rem;
    padding: 8rem;
  }

  // .popup__body-close-btn

  &__body-close-btn {
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    top: 3.2rem;
    right: 3.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    & svg {
      width: 1.6rem;
      height: 1.6rem;
      object-fit: contain;
      pointer-events: none;
    }

    @include small-tablet {
      width: 4.8rem;
      height: 4.8rem;

      & svg {
        width: 3.2rem;
        height: 3.2rem;
      }
    }
  }
  // ----------------------------------------success-------------------------------------------
  // ----------------------------------------success-------------------------------------------
  // ----------------------------------------success-------------------------------------------
  &--success {
    & .popup__body {
      display: flex;
      background-color: $light-grew;
      border-radius: 6rem;
      width: 88rem;
      padding: 12rem 9rem;

      @include small-tablet {
        padding: 10rem 6rem;
        width: 100%;
      }
    }
    & .popup__body-content-box {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;
    }

    & .popup__body-content-box-desk {
      // width: 36rem;
      // width: 50rem;
      @include small-tablet {
        font-size: 2.8rem;
        width: 100%;
      }
    }
  }

  // ----------------------------------------big-------------------------------------------
  // ----------------------------------------big-------------------------------------------
  // ----------------------------------------big-------------------------------------------
  &--big {
    // .popup__body-content-box

    & .popup__body-content-box {
      display: flex;
      flex-direction: column;
      gap: 8rem;
    }

    // .popup__body-content-box-title-box

    & .popup__body-content-box-title-box {
      display: flex;
      flex-direction: column;
      gap: 4rem;
    }

    // .popup__body-content-box-title

    & .popup__body-content-box-title {
      text-transform: uppercase;
    }
    // .popup__body-content-box-desk

    & .popup__body-content-box-desk {
      width: 41.1rem;
    }

    // .popup__body-form-wrapper

    & .popup__body-form-wrapper {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
    }

    // .popup__body-form-input-wrapper

    & .popup__body-form-input-wrapper {
    }

    // .popup__body-form-input-box

    & .popup__body-form-input-box {
      display: grid;
      grid-template-columns: repeat(2, 35.5rem);
      gap: 2rem;
    }

    // .popup__body-label

    & .popup__body-label {
      &--textarea {
        grid-column: 2/3;
        grid-row: 1/4;
        & .form__input-wrapper {
          height: 100%;
        }
        & textarea {
          height: 100%;
        }
      }
    }

    // .popup__body-form-input

    & .popup__body-form-input {
    }

    // .popup__body-agreement-text

    & .popup__body-agreement-text {
      width: 43.5rem;
    }

    // .popup__body-btn

    & .popup__body-btn {
      margin-top: 0.8rem;
    }
  }
}
