<section class="family-production">
  <div class="container family-production__container">
    <div class="family-production__inner">
      <div class="family-production__family-row">
        <p class="family-production__family-row-title tl2">Семейное производство</p>
        <p class="family-production__family-row-text txt18">
          качество является главным приоритетом, воплощаясь в каждой детали и рецепте
        </p>
      </div>
      <div class="family-production__standard-row">
        <ul class="family-production__standard-list">
          <li class="family-production__standard-item txt30">европейский опыт</li>
          <li class="family-production__standard-item txt30">семейные традиции</li>
          <li class="family-production__standard-item txt30">идеальный вкус</li>
        </ul>
        <div class="family-production__standard-title-box">
          <p class="family-production__standard-title tl2">стандарт</p>
          <div class="family-production__standard-img-wrapper">
            <div class="family-production__standard-img-box">
              <img src="./assets/images/production-standart-1.webp" alt="" />
            </div>
            <div class="family-production__standard-img-box">
              <img src="./assets/images/production-standart-2.webp" alt="" />
            </div>
          </div>
          <p class="family-production__standard-title tl2">качества</p>
        </div>
      </div>
      <div class="family-production__experience-row">
        <p class="family-production__experience-title tl2">Профессиональный опыт</p>
        <div class="family-production__experience-img-wrapper">
          <div class="family-production__experience-img-box">
            <img src="./assets/images/production-experience-2.webp" alt="" />
          </div>
          <div class="family-production__experience-img-box">
            <img src="./assets/images/production-experience-3.webp" alt="" />
          </div>
          <div class="family-production__experience-img-box">
            <img src="./assets/images/production-experience-1.webp" alt="" />
          </div>
        </div>
      </div>
      <div class="family-production__img-row">
        <div class="family-production__img-img-box">
          <img src="./assets/images/production-img.webp" alt="" />
        </div>
        <p class="family-production__img-text family-production__img-text--center txt30">любовь к делу</p>
        <p class="family-production__img-text txt30">опыт и инновации</p>
      </div>
    </div>
  </div>
</section>
