<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="#" class="header__logo">
        <div class="header__logo-img-box">
          <img src="./assets/images/logo.svg" alt="" />
        </div>
      </a>
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item">
            <a href="#" class="header__nav-link txt18">Каталог</a>
          </li>
          <li class="header__nav-item">
            <a href="#" class="header__nav-link txt18">Horeca</a>
          </li>
          <li class="header__nav-item">
            <a href="#" class="header__nav-link txt18">О компании</a>
          </li>
          <li class="header__nav-item">
            <a href="#" class="header__nav-link txt18">Новости</a>
          </li>
          <li class="header__nav-item">
            <a href="#" class="header__nav-link txt18">Контакты</a>
          </li>
        </ul>
      </nav>
      <div class="header__btn-box">
        <a href="" class="header__btn">
          <img src="./assets/images/profile.svg" alt="" />
        </a>
        <a href="" class="header__btn">
          <img src="./assets/images/heart.svg" alt="" />
        </a>
        <a href="" class="header__btn">
          <img src="./assets/images/shopping-bag.svg" alt="" />
        </a>
      </div>
    </div>
  </div>
</header>
