@import './mixins';

$white: #fff;
$white60: rgba(255, 255, 255, 0.6);
$white70: rgba(255, 255, 255, 0.7);
$light-blue: #c5c1dd;
$dark-orange: #c14824;
$orange: #d15834;
$light-orange: #d66948;

// body
body {
  background-color: $orange;
  color: $white;
  .lock & {
    overflow: hidden;
    touch-action: none;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

// main
main {
  flex-grow: 1;
}

.desktop {
  display: block;

  @media (max-width: 48em) {
    display: none;
  }
}

.mobile {
  display: none;

  @media (max-width: 48em) {
    display: block;
  }
}

@import './ui/ui';


